sudo: false
language: node_js
node_js:
  - 10 # use nodejs v10 LTS
cache: yarn
branches:
  only:
    - master # build master branch only
script:
  - hexo generate # generate static files
before_install:
  - wget https://github.com/jgm/pandoc/releases/download/2.12/pandoc-2.12-1-amd64.deb
  - sudo dpkg -i ./pandoc-2.12-1-amd64.deb
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: public